html,body,#root {
    background-image: url("../../assets/images/bg.gif");
    background-color: black;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.test{
    border-top: 2px solid #ec9f1b;
    border-bottom: 2px solid #ec9f1b;
}
